@font-face {
  font-family: 'Modak';
  src: local('Modak'), url('Modak.woff2') format('woff2'), url('Modak.woff') format('woff'), url('Modak.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
