.main {
  width: 100%;
  padding-left: 10px;
  padding-right: 220px;
  &__container {
    display: flex;
    margin-top: 30px;
  }
  &__left {
    min-width: 250px;
    background: $base-c;
    color: #ffffff;
    padding: 15px 15px;
    font-size: 24px;
    min-height: 80vh;
    margin-right: 40px;
    border-radius: 10px;
  }
  &__right {
    width: 1200px;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
@import "backlog/creation/creation";
@import "backlog/backlog";
@import "menu/menu";
