@font-face {
  font-family: 'Modak';
  src: local('Modak'), url('../fonts/Modak.woff2') format('woff2'), url('../fonts/Modak.woff') format('woff'), url('../fonts/Modak.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
