* {
  font-family: $base-ff, sans-serif;
  font-size: $base-fsz;
  font-weight: $base-fw;
  color: $base-c;
}

body {
  background: #ffffff;
}

.container {
  max-width: $base-w-container;
  margin: 0 auto;
}

.button {
}
.title {
  &_h3 {
    font-size: calc(24 / 15) + rem;
  }
}
.wrapper {
  min-height: 840px;
  margin: 0 auto;
}
