// Экраны
$base-w-container: 1440px;
$base-w: 1440px;

// Шрифты
$base-ff: "Montserrat", sans-serif;
$base-fsz: 16px;
$base-fw: 400;

// Цвета
$success: #4AA105;
$fail: #9B0000;
$check: #649e8d;
$white: #ffffff;
$hover: #98caff;
$base-c: #243a53;

$black: #535353;