<div class="creation main__creation">
  <form
    data-form="addToDo"
    class="creation__form creation-form"
    action="controllers/addtodo.php"
    method="post"
  >
    <div class="creation-form__item">
      <h3 class="creation-form__title title_h3">What to do</h3>
      <div class="creation-form__input-box">
        <input name="name" type="text" class="creation-form__input" />
      </div>
    </div>
    <div class="creation-form__item">
      <h3 class="creation-form__title title_h3">When to do</h3>
      <div class="creation-form__input-box">
        <input
          type="date"
          id="dateForToDo"
          name="enddate"
          class="creation-form__input"
        />
      </div>
    </div>
    <div class="creation-form__buttons">
      <button
        class="creation-form__button creation-form__button-add"
        type="submit"
      >
        add task</button
      ><button
        class="creation-form__button creation-form__button-cancel"
        type="button"
        data-type="cancelBtn"
      >
        cancel
      </button>
    </div>
  </form>
</div>
