.creation {

  &__form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__label {

  }
  .creation-form {
    &__input-box {
      background: #B58A8A;
      padding: 0.5rem;
      border-radius: 5px;
    }
    &__input {
      border-radius: 5px;
      padding: 5px 10px;
      min-width: 300px;
      text-align: left;
      background: #fff;
    }
  }
}
