.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 80vh;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  &__item {
  }
  &__item-link {
    display: flex;
    padding: 0px 11px;
    width: 100%;
    color: $white;
    font-family: $base-ff;
    font-size: 18px;
    transition: color 0.3s;
  }

  &__item-link._active {
    color: $hover;
    padding: 0px 10px;
    border-left: 1px solid $hover;
  }

  &__item-link:hover {
    color: $hover;
    padding: 0px 10px;
    border-left: 1px solid $hover;
  }
}
