.creation {
  position: relative;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba($color: #000000, $alpha: 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &__form {
  }
  &__label {
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    display: flex;
    cursor: pointer;
    right: 30%;
    top: 30%;
    position: absolute;
    color: $white;
    width: 30px;
    height: 30px;
    &:before, &:after {
      cursor: pointer;
      content: "";
      top: 50%;
      width: 100%;
      height: 100%;
      background: $white;
      position: absolute;
      height: 2px;
    }
    &:before {
      transform: rotate(-45deg);
    }

    &:after{
      transform: rotate(45deg);

    }
  }
}
.creation-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 700px;

  &__input-box {
    position: relative;
    width: 100%;
  }
  &__input {
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    background: $white;
  }
  &__title {
    font-family: $base-ff;
    font-weight: 300;
    color: $white;
    margin-bottom: 10px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__button {
    color: $white;
    font-family: $base-ff;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 7px;
    max-width: 150px;
    width: 100%;
  }
  &__button-add {
    background: #53c09f;
  }
  &__button-cancel {
    background: #cd2828;
  }
}
