/*------------ИМПОРТ------------*/

@import 'common/variable'; //--ПЕРЕМЕННЫЕ
@import 'common/general'; //---ОСНОВНЫЕ СТИЛЕЙ
@import 'common/reset'; //-----ОБНУЛЯЮЩИЕ СТИЛЕЙ
@import "common/fonts"; //-----ШРИФТЫ


/*------------Source------------*/

/*------------HEADER------------*/

@import "header/header";

/*------------MAIN--------------*/

@import "main/main";

/*------------FOOTER------------*/

// @import "footer";
/*------------------------------*/
